{% extends "base.html.twig" %}

{% block title %}Formulaire voiture{% endblock %}


{% block body %}
{% if editMode %}
<h2 class="text-center">Modifier la voiture</h2>
{% else %}
<h2 class="text-center">Ajouter la voiture</h2>
{% endif %}



<div class="container">
{{ form_start(formVoiture) }}

{{ form_row(formVoiture.marque) }}
{{ form_row(formVoiture.modele) }}
{{ form_row(formVoiture.prix) }}
{{ form_row(formVoiture.description) }}

<button type="submit" class="btn btn-primary">Valider</button>
{{ form_end(formVoiture) }}

</div>
{% endblock %}